* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

.colorss {
  background-color: #17191a;
}

html {
  scroll-behavior: smooth;
}

g {
  color: #ed5565;
}

.navbar-brand {
  font-weight: 500;
}

.u,
.main-info-section,
.work-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#navbarmenu :hover {
  color: #ed5565;
}

nav {
  background-color: #232627;
}

.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}

.text {
  margin-top: 120px;
}

.text h1 {
  color: #fff;
  font-size: 3rem;
  cursor: context-menu;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 0.8rem;
}

.profile-image img {
  width: 450px;
  margin-top: 50px;
}

.about {
  min-height: 100vh;
  margin-top: 100px;
  position: relative;
}

.about h1,
.work h1 {
  font-size: 10rem;
  z-index: 0;
  opacity: 0.1;
}

.about-me-info {
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
  padding: 50px;
  position: relative;
  top: -70px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p {
  font-size: 1.3rem;
  color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
  margin-top: 30px;
}

.about img {
  width: 300px;
  position: absolute;
  bottom: 100px;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + 100px));
}

.skills {
  min-height: 100vh;
  position: relative;
}

.skills h1,
.contact h1 {
  text-align: left;
  font-size: 10rem;
  opacity: 0.1;
}

.skills-info {
  font-size: 1.4rem;
  color: #bebebe;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.work a {
  justify-self: center;
  position: relative;
  display: inline-block;
}

.work a img {
  width: 350px;
  justify-self: center;
}

.contact {
  margin-top: 50px;
}

footer hr {
  border: 2px solid #707070;
  margin-top: 80px;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.2rem;
  padding: 30px 0;
}

G {
  color: #ed5565;
}

#frameOne,
#frameTwo,
#frameThree,
#frameFour {
  background-color: #1d1f20;
}

.workImage {
  max-width: 100%;
}

@media (max-width: 769px) {
  .about h1,
  .work h1,
  .skills h1 {
    font-size: 6rem;
  }
  .contact h1 {
    font-size: 5rem;
  }
  .text h1 {
    font-size: 2.5rem;
  }
  .about-me-info {
    top: -41px;
  }
  .about img {
    visibility: hidden;
  }
  #desktop-particle-slider {
    display: none;
  }
  #mobile-particle-slider {
    display: block !important;
  }
  .main_text {
    color: #fff;
    padding-top: 9rem;
    padding-left: 0.25rem;
    padding-bottom: 13.9rem;
    font-weight: 900;
  }
  .second {
    padding-left: 1.4rem;
    font-size: larger;
  }
  .third {
    padding-left: 3rem;
    font-size: larger;
  }
  l {
    font-size: xxx-large;
  }
  .main_text span {
    font-size: xx-large;
  }
  .color {
    color: #ed5565;
  }
  .animate__animated.animate__backInDown {
    --animate-duration: 3s;
  }
  .animate__animated.animate__backInLeft {
    --animate-duration: 5s;
  }
  .animate__animated.animate__backInUp {
    --animate-duration: 6s;
  }
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.work-container {
  position: relative;
  /* overflow: hidden; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000aa;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-container:hover .overlay {
  opacity: 1;
}

.work p {
  color: #fff;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 8px;
}

.work {
  position: relative;
}

.fa-times-rectangle:before,
.fa-window-close:before {
  content: "\f2d3";
  padding: 16px;
  display: flex;
  font-size: 28px;
}

#particle-slider {
  background-color: #1d1f20;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#particle-slider .slides,
#particle-slider > .dg {
  display: none;
}
@media (min-width: 1000px) {
  #particle-slider .dg {
    display: block;
  }
}

p {
  margin-bottom: 0;
}

#mobile-particle-slider {
  display: none;
}
